# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../main\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Kullanıcı\IdeaProjects\main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
